.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  width: 100%;

  .titres {
    p {
      margin: 0;
      padding: 0;
    }

    .h4 {
      color: black;
      font-weight: bold;
      filter: drop-shadow(2px 1px 1px white);
    }

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }
}

.container-fluid {
padding: 0;
  margin: 0;
  width: 100%;
  height: 88vh;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background-color: rgba(245, 245, 245, 0.506);
  border-radius: 3px;

  .sidenav-content {
    display: flex;
    height: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    // .bgi {
    //   background-image: url(https://hospitality-on.com/sites/default/files/2018-04/advice-advise-advisor-7097.jpg);
    //   height: 100%;
    //   width: 100%;
    //   filter: blur(1px);
    //   background-position: center;
    //   background-size: cover;
    //   background-repeat: no-repeat;
    //   position: absolute;
    //   z-index: -1;
    // }

    .salarie-profil {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
    }
  }

  .tiroir {
    display: flex;
   
    width: clamp(100%, 20%, 200px) ;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 3px;

    .contenu-tiroir {
      display: flex;
      justify-content: center;
      flex-flow: column wrap;
    }

    button {
      margin-top: 15px;
    }
  }
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

