.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  border-radius: 3px;
  height: 100%;

  .formulaire {
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    padding: 5px 0;
  }
}

#title {
  margin-top: 25px;
  transition: all ease 0.3s;

  &:hover {
    color: rgb(20, 44, 179);
    transform: scale(1.03);
  }
}

@media screen and (max-width: 480px) {
  .main-container {
    height: auto;
  }
}
