.container-fluid {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background-color: rgba(205, 134, 63, 0.248);
    height: 100%;
    border-radius: 3px;

    #title {
        transition: all ease 0.3s;

        &:hover {
            color: white;
            transform: scale(1.03);
        }
    }

    form {
        display: flex;
        flex-flow: wrap;
        justify-content: space-between;
        align-items: center;
    }
}