$primary-color: #225805;
$secondary-color: #d85f0280;
$main-police : 'Roboto',
sans-serif;
$second-police : 'Montserrat',
sans-serif;
$poppin-police : 'Poppins',
sans-serif;

.titre {
    padding: 10px 0;
    text-align: center;
    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.699));
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 80vh;
    width: 60%;
    background: $primary-color;
    border-radius: 5px;
    backdrop-filter: blur(100px);
    .title{
        color: bisque;
        filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.699));
        font-family: $second-police;
    }

    .formulaire {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        background-color: rgba(255, 255, 255, 0.195);
        width: 50%;
        height: 40%;
        border-radius: 3px;

        .champs {

            background-color: transparent;
            font-family: $main-police;
        }

        .btns {
            display: flex;
            justify-content: space-evenly;
            width: 100%;
            button {
                font-family: $poppin-police;
                font-weight: 500;
                transition: all ease 0.3s;
                &:hover{
                    transform: scale(1.1);
                    color: black;
                }
            }
        }
    }

}