<p class="h1 titre"> Je me connecte en tant qu'entreprise</p>

<section class="container">
    <h1 class="title">LOGIN</h1>
  <form class="formulaire" (ngSubmit)="onSubmit()" [formGroup]="loginFormSociety">

          <mat-form-field class="champs" appearance="outline">
            <mat-label>Email</mat-label>
            <input
              matInput
              placeholder="Email"
            
              required
            />
            <mat-icon matSuffix> person_outline</mat-icon>
          </mat-form-field>
     
          <mat-form-field class="champs"  appearance="outline">
            <mat-label>Password</mat-label>
            <input
              matInput
              placeholder="Password"
              placeholder="Password"
              required
            />
            <mat-hint>entre 8 et 12 caractères</mat-hint>
            <mat-icon matSuffix>how_to_reg</mat-icon>
          </mat-form-field>
  
      
      <mat-card-actions class="btns">
        <button
          (click)="onClick()"
          type="button"
          mat-raised-button
          color="primary"
        >
          Sign up
        </button>

        <button
          type="submit"
          mat-flat-button
          [disabled]="loginFormSociety.invalid"
          color="warn"
        >
          Sign in
        </button>
      </mat-card-actions>

  </form>
</section>
