$primary-color: #225805;
$secondary-color: #d85f0280;
$main-police: "Roboto", sans-serif;
$second-police: "Montserrat", sans-serif;
$poppin-police: "Poppins", sans-serif;

.titre {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  .h2 {
    padding-top: 20px;
    text-align: center;
    transition: all ease 0.3s;
    width: 50%;
    &:hover {
      transform: scale(1.05);
      color: white;
      filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.699));
    }
  }
}

.main-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 80vh;
  width: 100%;
  position: relative;
  .espace-entreprise {
    transition: all ease-out 0.3s;
    &:hover {
      color: white;
      filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.699));
    }
  }
  .btn-nav {
    position: absolute;
    top: 12%;
    left: 20%;
  }

  .formulaire {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    width: 60%;
    height: 80%;
    border-radius: 5px;
    background-color: #044074;

    .champs {
      width: 30%;
      background-color: transparent;
      font-family: $main-police;
      color: wheat;
    }

    .btns {
      display: flex;
      justify-content: space-evenly;
      width: 100%;

      button {
        font-family: $poppin-police;
        font-weight: 500;
        transition: all ease 0.3s;

        &:hover {
          transform: scale(1.1);
          color: black;
        }
      }
    }
  }
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (min-width: 1000px) {
  .espace-entreprise {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .titre {
    display: none;
  }
  .main-content {
    height: 100vh;
    .btn-nav {
      position: absolute;
      top: 25%;
      left: 2%;
    }
    .formulaire {
      height: 50%;
      width: 90%;
      .champs {
        width: 60%;
      }
    }
  }
}
