<p class="h1 titre"> Je me connecte en tant qu'entreprise</p>
<div class="btn-nav">
  <button (click)="onNavigate()" id="back" mat-flat-button><mat-icon>arrow_back_ios</mat-icon></button>
</div>


<section class="container">
  <form class="formulaire" [formGroup]="loginFormSociety">
    <div class="remplir">
      <mat-form-field class="champs" appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" formControlName="email" required type="email" />
        <mat-icon matSuffix> person_outline</mat-icon>
      </mat-form-field>

      <mat-form-field class="champs" appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput placeholder="Password" formControlName="mdp" required type="password" />
        <mat-hint>entre 8 et 12 caractères</mat-hint>
        <mat-icon matSuffix>how_to_reg</mat-icon>
      </mat-form-field>
    </div>



    <mat-card-actions class="btns">
      <button (click)="onSignUp()" type="button" mat-raised-button color="primary">
        Sign up
      </button>

      <button (click)="onSignIn()" type="button" mat-flat-button [disabled]="loginFormSociety.invalid" color="warn">
        Sign in
      </button>
    </mat-card-actions>

    <div class="spinner" *ngIf="show">
      <mat-progress-spinner mode="indeterminate">
        
      </mat-progress-spinner>
    </div>
  </form>
</section>