<div class="titre">
  <p class="h2">Je me connecte en tant qu'entreprise</p>
</div>

<section class="main-content">
  <div class="btn-nav">
    <button (click)="onNavigate()" id="back" mat-button>
      <mat-icon>arrow_back_ios</mat-icon>
    </button>
  </div>

  <form class="formulaire" [formGroup]="loginFormSociety">
    <p class="espace-entreprise">Espace Entreprise</p>
    <mat-form-field class="champs" appearance="outline">
      <mat-label>Email</mat-label>
      <input
        matInput
        placeholder="Email"
        formControlName="email"
        required
        type="email"
      />
      <mat-icon matSuffix> person_outline</mat-icon>
    </mat-form-field>

    <!-- <mat-form-field class="champs" appearance="outline">
      <mat-label>Password</mat-label>
      <input
        matInput
        placeholder="Password"
        formControlName="mdp"
        required
        type="password"
      />
      <mat-hint>entre 8 et 12 caractères</mat-hint>
      <mat-icon matSuffix>how_to_reg</mat-icon>
    </mat-form-field> -->

    <mat-form-field class="champs" appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'"  formControlName="mdp">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-hint>entre 8 et 12 caractères</mat-hint>
  </mat-form-field>

    <mat-card-actions class="btns">
      <button
        (click)="onSignUp()"
        type="button"
        mat-raised-button
        color="primary"
      >
        Sign up
      </button>

      <button
        (click)="onSignIn()"
        type="button"
        mat-flat-button
        [disabled]="loginFormSociety.invalid"
        color="warn"
      >
      <mat-icon class="spinner" *ngIf="show" >
        <mat-progress-spinner strokeWidth="10" diameter="20" mode="indeterminate"> </mat-progress-spinner>
      </mat-icon>
        Sign in 
      </button>
    </mat-card-actions>
  </form>
</section>
