#main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(250, 235, 215, 0.657);

  .formulaire {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;

    .form {
      box-sizing: content-box;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      // background-color: #fff;
    }

    .mat-form-field {
      padding: 0 80px;
    }
  }

  .btn-edit {
    margin: 5px 0;
    display: flex;
    justify-content: center;
    align-items: center;

    #edit {
      padding: 0 50px;
    }
  }
}

@media screen and (max-width: 480px) {
  #main-container {
    margin-top: 250px;
  }
}
