.title{
  padding: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: 80%;
  
 .formulaire{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 65vh;
  width: 100%;
 
 }
}
