.main-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  .article {
    align-self: end;
    text-decoration: underline;
    padding: 5px;
    margin: 2px;
    width: 100%;
  }
  h1 {
    text-align: center;
    padding: 10px 0;
  }
  ul {
    margin: 5px 0;
    li {
      padding: 5px 0;
    }
  }
  h5 {
    padding: 10px 5px;
    text-align: center;
    margin: 10px 0;
  }
  div {
    p {
      padding: 5px;
      margin: 2px;
    }
  }
  #entreprise {
    display: flex;
    width: fit-content;
    align-items: center;
    p {
      padding: 5px;
      margin-bottom: 5;
    }
  }
  #salarie {
    display: flex;
    width: fit-content;
    align-items: center;
    p {
      padding: 5px;
      margin-bottom: 5;
    }
  }
}

.show {
  display: none;
}

@media print {
  .main-content {
    .article {
      font-size: 0.75em;
    }
    p {
      font-size: 0.7em;
    }
    ul {
      margin: 0;
      font-size: 0.7em;
    }
    h1 {
      font-size: 1em;
    }
    h5 {
      font-size: 0.8em;
    }
  }
}
