<section class="main-content">
  <h1>Contrat de travail</h1>

  <h5>Entre les soussignés :</h5>
  <p>D'une part :</p>
  <ul *ngIf="society && society.raison_sociale">
    <li>
      La société <strong>{{ society.raison_sociale }}</strong
      >,
    </li>
    <li>
      Sise à <strong>{{ society.rue }}</strong
      >, <strong>{{ society.ville }}</strong
      >, <strong>{{ society.cp }}</strong
      >.
    </li>
    <li>
      Immatriculée au registre du commerce et des sociétés sous le numéro
      <strong>{{ society.siret }}</strong> et code APE numéro
      <strong>{{ society.code_ape }}</strong>
    </li>
  </ul>

  <p>D'autre part :</p>
  <ul *ngIf="salarie && salarie.nom">
    <li>
      {{ salarie.civilite }} <strong>{{ salarie.nom }}</strong
      >,
    </li>
    <li>
      Né le <strong>{{ salarie.date_naissance | date : "dd-MMMM-yyyy" }}</strong
      >,
    </li>
    <li *ngIf="salarie.nom_jeune_fille">
      Nom de jeune fille <strong>{{ salarie.nom_jeune_fille }}</strong>
    </li>
    <li>
      Demeurant <strong>{{ salarie.rue }}</strong
      >, <strong>{{ salarie.ville }}</strong
      >, <strong>{{ salarie.cp }}</strong
      >.
    </li>
  </ul>

  <h5>Il est convenu ce qui suit :</h5>

  <p *ngIf="salarie && society && contrat.fonction">
    <strong>Article 1 : Objet</strong><br />
    {{ salarie.civilite }} <strong>{{ salarie.nom }}</strong> est engagé(e) par
    la société <strong>{{ society.raison_sociale }}</strong> à compter du
    <strong>{{ contrat.date_debut | date : "dd-MMMM-yyyy" }}</strong
    >, pour occuper le poste de <strong>{{ contrat.fonction }}</strong
    >.
  </p>

  <div>
    <strong>Article 2 : Durée</strong><br />
    Le présent contrat est conclu selon un :
    <p *ngIf="contrat.is_fulltime">
      {{ CDI }}
    </p>
    <p *ngIf="!contrat.is_fulltime">
      {{ CDD }}
    </p>
  </div>

  <p *ngIf="salarie && contrat && society">
    <strong>Article 3 : Rémunération</strong><br />
    Le salaire de {{ salarie.civilite }}
    <strong>{{ salarie.nom }}</strong> s'élève à
    <strong>{{ contrat.remuneration }}</strong> brut mensuel, à verser par la
    société <strong>{{ society.raison_sociale }}</strong> chaque mois.
  </p>

  <p *ngIf="salarie">
    Le présent contrat est signé le <strong>Date de signature</strong>, en deux
    exemplaires, dont un est remis à {{ salarie.civilite }}
    <strong>{{ salarie.nom }}</strong
    >.
  </p>

  <p>
    Fait à <strong>Annemasse</strong>, le <strong>Date de signature</strong>.
  </p>

  <div id="entreprise" *ngIf="society">
    <p>{{ society.civilite }}</p>
    <p>{{ society.nom }}</p>
    <p>
      <strong>{{ society.raison_sociale }}</strong>
    </p>
  </div>

  <div id="salarie" *ngIf="salarie">
    <p>{{ salarie.civilite }}</p>
    <strong>{{ salarie.nom }}</strong>
  </div>
</section>

<mat-dialog-actions [ngClass]="{ show: notShow }" align="end">
  <!-- <button mat-button mat-dialog-close>Annuler</button> -->
  <button mat-button [mat-dialog-close]="true">Fermer</button>
  <button mat-button (click)="printPage()">Imprimer</button>
  <button mat-button>Télécharger</button>
</mat-dialog-actions>
