.container-fluid {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  background-color: rgba(205, 134, 63, 0.248);
  height: 100%;
  form {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    align-items: center;
  }
}
