<div class="h2">
  <p class="titre">Je me connecte en tant que salarié</p>
</div>

<section class="main-content">
  <div class="btn-nav">
    <button (click)="onNavigate()" id="back" mat-button>
      <mat-icon>arrow_back_ios</mat-icon>
    </button>
  </div>
  <form class="formulaire" [formGroup]="loginFormSalarie">
    <p class="espace-salarie">Espace Salarie</p>
    <mat-form-field class="champs" appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Email" formControlName="email" required />
      <mat-icon matSuffix> person_outline</mat-icon>
    </mat-form-field>

    <!-- <mat-form-field class="champs" appearance="outline">
      <mat-label>Password</mat-label>
      <input
        matInput
        type="password"
        placeholder="Password"
        formControlName="mdp"
        required
      />
      <mat-hint>entre 8 et 12 caractères</mat-hint>
      <mat-icon matSuffix>how_to_reg</mat-icon>
    </mat-form-field> -->
    <mat-form-field class="champs" appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'"  formControlName="mdp">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-hint>entre 8 et 12 caractères</mat-hint>
  </mat-form-field>

    <mat-card-actions class="btns">
      <button
        (click)="onSignUp()"
        type="button"
        mat-raised-button
        color="primary"
      >
        Sign up
      </button>

      <button
        (click)="onSignIn()"
        type="button"
        mat-flat-button
        [disabled]="loginFormSalarie.invalid"
        color="warn"
      >
        Sign in
        <mat-icon class="spinner" *ngIf="show" >
          <mat-progress-spinner strokeWidth="8" diameter="20" mode="indeterminate"> </mat-progress-spinner>
        </mat-icon>
      </button>
    </mat-card-actions>
  </form>
</section>
