<p>login-salarie works!</p>



<form >
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" class="form-control" id="username" formControlName="username" />
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" formControlName="password" />
  </div>
  <!-- <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">Submit</button> -->
</form>

<!-- [formGroup]="loginForm" (ngSubmit)="onSubmit()" -->