.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  width: 100%;

  .titres {
    p {
      margin: 0;
      padding: 0;
    }

    .h4 {
      color: black;
      font-weight: bold;
      filter: drop-shadow(2px 1px 1px white);
    }

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }
}

.main-container {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 88vh;

  .sidenav-content {
    display: flex;
    width: auto;
    height: 100%;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .tiroir {
    width: 25%;
    padding: 20px;
    border-radius: 3px;

    .contenu-tiroir {
      display: flex;
      background-color: #fff;
      height: 50%;
      width: auto;
      justify-content: space-around;
      align-items: center;
      flex-flow: column wrap;
      .btn {
        width: 100%;
      }
      #deconnexion {
        margin: 0 5px;
        align-self: flex-end;
      }

      button {
        margin: 5px 0;
      }
    }
  }
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 480px) {
  .toolbar {
    margin-top: 35px;
  }
  .main-container {
    .tiroir {
      width: 100%;
    }
  }
}
