<p class="h1 titre"> Bienvenue sur EasyContract !!</p>

<section class="container">
    <h1 class="title">Portail d'accueil</h1>      
      <mat-card-actions class="btns">
        <button (click)="onClickEntreprise()"
          
          type="button"
          mat-raised-button
          color="primary"
        >
        Entreprise
        </button>

        <button
        (click)="onClickSalarie()"
          type="button"
          mat-flat-button
          color="warn"
        >
        Salarie
        </button>
      </mat-card-actions>
    
</section>
