$primary-color: #225805;
$secondary-color: #d85f0280;
$main-police : 'Roboto',
sans-serif;
$second-police : 'Montserrat',
sans-serif;
$poppin-police : 'Poppins',
sans-serif;

.toolbar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    margin: 10px 0;
    border-radius: 3px;

    .titre {
        font-family: $main-police;
        transition: all ease 0.4s;

        &:hover {
            color: black;
            transform: scale(1.08);
        }
    }
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.528);
    backdrop-filter: blur(20px);
    border-radius: 3px;
    height: 80vh;
    flex-direction: column;

    .title {
        font-family: $second-police;
        transition: all linear 0.4s;

        &:hover {
            color: whitesmoke;
            
        }
    }

    .btns {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: space-evenly;
        width: 20%;
        height: 13%;

        button {
            font-family: $poppin-police;
            font-weight: 500;
            transition: all ease 0.3s;

            &:hover {
                transform: scale(1.1);
                color: black;
            }
        }
    }
}