.contenant {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width:70vw;

  .formulaire {
    display: flex;
    justify-content: center;
    background-color: rgba(255, 235, 205, 0.435);
    backdrop-filter: blur(20px);
    border-radius: 3px;
    height: 100%;
    width: 100%;

    form {
      color: rgb(2, 28, 28);
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      height: 100%;
      width: 100%;

      .mat-form-field {
        width: 30%;
      }

      .radio {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        .mat-radio-group {
          p {
            color: black;
            text-decoration: underline;
            font-weight: bold;
          }
          display: flex;
          flex-direction: column;
          padding: 10px;
        }
      }
    }

    button {
      transition: all 0.3s ease;

      &:hover {
        transform: scale(1.05);
        box-shadow: 2px 2px 2px black;
        color: black;
      }
    }
  }
}
