<section class="container-fluid">

  <div class="formulaire">
    <form [formGroup]="formContrat" (ngSubmit)="onSubmit()">

      <mat-form-field>
        <input type="text" matInput [value]="profilEntreprise.raison_sociale" matInput readonly>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Salarie</mat-label>
        <mat-select formControlName="fki_salarie">

          <mat-option *ngFor="let item of salaries" [value]="item.salarie_id">
            {{item.nom}} {{item.prenom}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div class="radio">

        <mat-radio-group aria-label="Select an option" formControlName="type_contrat">
          <mat-radio-button value="CDD">CDD</mat-radio-button>
          <mat-radio-button value="CDI">CDI</mat-radio-button>
        </mat-radio-group>

        <mat-radio-group aria-label="Select an option" formControlName="is_fulltime">
          <mat-radio-button value=true>Temps plein</mat-radio-button>
          <mat-radio-button value=false>Temps partiel</mat-radio-button>
        </mat-radio-group>
      </div>

      <mat-form-field>
        <mat-label>Date de début</mat-label>
        <input type="date" matInput formControlName="date_debut">
      </mat-form-field>
      <mat-form-field *ngIf="formContrat.value.type_contrat == 'CDD'">
        <mat-label>Date de fin</mat-label>
        <input type="date" matInput formControlName="date_fin">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Periode d'essai</mat-label>
        <input type="texte" matInput formControlName="periode_essai">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Motif de recrutement</mat-label>
        <mat-select *ngFor="let item of motifs">
          <mat-option [value]="item.motif1">
          {{item.motif1}}
          </mat-option>
          <mat-option [value]="item.motif2">
          {{item.motif2}}
          </mat-option>
        </mat-select>

      </mat-form-field>
      <mat-form-field>
        <mat-label>Remunération</mat-label>
        <input type="text" matInput formControlName="remuneration">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Fonction</mat-label>
        <input type="text" matInput formControlName="fonction">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Statut</mat-label>
        <input type="text" matInput formControlName="statut">
      </mat-form-field>

      <button mat-raised-button color="accent">Génerer un contrat</button>
    </form>
  </div>
</section>